.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #c8c7c7;
    padding: 20px;
    border-radius: 5px;
}
.close-button {
    align-items: right;
    
     
  }
input,button{
    outline: none;
    border: none;
}
.user-table-render-border{
    /* border: 1px solid #4b4a4a; */
    background-color: rgb(238, 238, 230);
    border-radius: 5px;
}
.crawl-info{
    padding: 20px 0;
    margin: 20px 0 0 0 !important;
    background-color: rgb(137, 137, 130);
    border-radius: 5px;
}
.signup-container{
    max-width: 400px;
    margin: auto;
}
body {
    background-image: url(https://img.freepik.com/premium-photo/photo-concrete-wall-empty-room-with-plants-floor-minimal-summer-exotic-concept-with-copy-space-generative-ai_1423-12320.jpg); /* Replace "your-image-url.jpg" with the actual URL or file path of your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* min-height: 100vh; */
    /* min-height: 100vh; */
    font-family: poppins,sans-serif;
    height: 95vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
  }
.table-scroll{
    height: 510px !important;
    overflow: auto;
}
.table-scroll::-webkit-scrollbar {
    display: none;
}
